requests
pymongo==4.8.0
confluent-kafka
python-dotenv
aiokafka
riotwatcher>=3.2.6
motor
pydantic
fastapi==0.110.*
uvicorn[standard]==0.29.*
pydantic-settings==2.7.*
kafka-python==2.0.2
python-dotenv==1.0.1
streamlit==1.38.*
pandas
altair